// Import utilty library.
// @link http://davidtheclark.github.io/scut
@import "../bower_components/scut/dist/scut";
@import "../bower_components/modular-scale/stylesheets/modular-scale";
@import "../bower_components/colors/sass/colors";


// Global varibales extends, and mixins.
@import "library/variables";
@import "library/mixins";
@import "library/extends";


@import "../bower_components/bourbon/dist/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";



// Base styles throughout the theme.
@import "base/normalize";
// Type Styles
//
// Styleguide 1
@import "base/type";

// Color Pallet and Helper Classes
//
// Styleguide 2
@import "base/colors";


// Layout styles.
@import "layout/grid";
@import "layout/page";

// Componets like navs and such.
@import "components/navs";
@import "../node_modules/btns/sass/btns";


@import "vendor/font-awesome";
