// Page styles
//
// ```
// padding-right: 1em;
// padding-left: 1em;
// margin: 0 auto;
//```
//
// styleguide 12.6
body {
  padding-right: 1em;
  padding-left: 1em;
  margin: 0 auto;
  @media (min-width: 500px) {
    padding-left: 0;
    padding-right: 0;
  }
}
