// Navigation
//
// Below are the text-oriented form elements used on the site.
//
// Styleguide 3


// Navs base class
//
// Your standard ul floated with padding on the links.
//
// .nav-inverse - Inverse
//
//
// Markup:
// <ul class="nav {$modifiers}">
//   <li><a href="#">Link</a></li>
//   <li><a href="#">Link</a></li>
//   <li><a href="#">Link</a></li>
// </ul>
//
// Styleguide 3.1


.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: $font-family-display;
  > li {
    display: block;
    position: relative;
    @media (min-width: 500px){
      float: left;
      > a { width: auto; }
    }
    > a {
      position: relative;
      display: block;
      padding: $padding-base;
      width: 100%;
      border-bottom: none;
    }
  }
  a:hover,
  a:focus{
    background-color: $gray-lighter;
    text-decoration: none;
  }
  .active a,
  :active {
    background-color: $gray-lighter;
  }
}
.nav-inverse {
  background-color: $black;
  a {
    @extend %link-green;
  }
  .active a,
  a:active,
  a:hover,
  a:focus{
    color: $black;
    background-color: $display-accent;
    text-decoration: none;
  }
}
