// Navbar
//
// Navigation bar for the top of the site
//
// Markup:
// <nav class="navbar">
//   <ul class="nav navbar-nav">
//     <li class="Active"><a href="#">Link</a></li>
//     <li><a href="#">Link</a></li>
//     <li><a href="#">Link</a></li>
//     <li><a href="#">Link</a></li>
//     <li><a href="#">Link</a></li>
//   </ul>
// </nav>
//
// Styleguide 3.1

$navbar-bg: rgb(0, 0, 0) !default;
$navbar-color: $green-bright;
.navbar {
  background-color: $navbar-bg;
  a {
    @extend .green-link;
  }
}

.navbar-nav {
}
