article
  h2
    | Buttons

    h3.title Button Sizes
    p
      | By default the base button class does not declare a font-size, so it is naturally set to 1em.
      | Extensions to the
      code .btn
      |  class are available for an additional three sizes:
      b small
      | ,
      b medium
      | , and
      b large
      | .
    p
      | If you&apos;d like to extend or customize the size of the buttons, it&apos;s incredibly easy. Just apply a new font-size to the button and watch it shrink/grow.
    pre.
      \n

    .dib.mrs
      a.btn.btn--l(href='#') Large Button
    .dib.mrs
      a.btn(href='#') Default Button
    .dib.mrs
      a.btn.btn--m(href='#') Medium Button
    .dib.mrs
      a.btn.btn--s(href='#') Small Button


    div
      h3 Black &amp; White
      pre.
        \n

      a.btn.btn--m.btn--black(href='#') A button link
      a.btn.btn--m.btn--black(href='#')
        | View on
        b github
      a.btn.btn--m.btn--black(href='#')
        | Download
        b .zip
      a.btn.btn--m.btn--black(href='#') Sign Up &rtrif;
    div
      a.btn.btn--m(href='#') A button link
      a.btn.btn--m(href='#')
        | View on
        b github
      a.btn.btn--m(href='#')
        | Download a
        b .zip
      a.btn.btn--m(href='#') View more &rtrif;


  h3 The grays
  div
    a.btn.btn--m.btn--gray(href='#') A button link
    a.btn.btn--m.btn--gray(href='#')
      | View on
      b github
    a.btn.btn--m.btn--gray(href='#')
      | Download a
      b .zip
    a.btn.btn--m.btn--gray(href='#') View more &rtrif;
  div
    a.btn.btn--m.btn--gray-dark(href='#') A button link
    a.btn.btn--m.btn--gray-dark(href='#')
      | View on
      b github
    a.btn.btn--m.btn--gray-dark(href='#')
      | Download a
      b .zip
    a.btn.btn--m.btn--gray-dark(href='#') View more &rtrif;
  div
    a.btn.btn--m.btn--gray-border(href='#') A button link
    a.btn.btn--m.btn--gray-border(href='#')
      | View on
      b github
    a.btn.btn--m.btn--gray-border(href='#')
      | Download a
      b .zip
    a.btn.btn--m.btn--gray-border(href='#') View more &rtrif;


  h3
    | Blue Buttons
  .example
    a.btn.btn--m.btn--blue(href='#') A button link
    a.btn.btn--m.btn--blue(href='#') View on github
    a.btn.btn--m.btn--blue(href='#') Download a .zip
    a.btn.btn--m.btn--blue(href='#') View more &rtrif;
  h3 Block Buttons
  .example
    h3
      | Block buttons
    p
      | Avoid having buttons that are obscenely large on tablets and desktop with the
      code .btn--full
      |  extension.
    p Centered, full-width on mobile, with a max-width of 16em on larger screens.
    a.btn.btn--s.btn--full.btn--black(href='#') Save
    a.btn.btn--m.btn--full.btn--white(href='#') Submit
    a.btn.btn--full.btn--gray(href='#') Cancel
    a.btn.btn--l.btn--full.btn--blue(href='#') Sign Up
