// Color Pallet
//
// Provides the color pallet and some utility classes to use them when needed.
//
// Markup:
// <div class="clearfix">
//   <div class="paint-chip bg--gray-light">$gray-light: rgb(221,221,221);</div>
//   <div class="paint-chip bg--red-bright">$red-bright: rgb(237,34,57);</div>
//   <div class="paint-chip bg--green-bright">$green-bright: rgb(0,255,0); </div>
//   <div class="paint-chip bg--purple-dark">$purple-dark: rgb(131,29,142); </div>
//   <div class="paint-chip bg--blue-dark">$blue-dark: rgb(0,0,102); </div>
//   <div class="paint-chip bg--blue-royal">$blue-royal: rgb(66,59,153); </div>
//   <div class="paint-chip bg--green">$green: rgb(99,154,42);</div>
// </div>
//
// Styleguide 2.1

.paint-chip {
  @include scut-size(scut-em(200));
  float: left;
  padding: scut-em(10);
  margin-right: scut-em(3);
  margin-bottom: scut-em(3);
  color: rgb(255, 255, 255);

}
@include color-classes($gray-light, "gray-light");
@include color-classes($green, "green");
@include color-classes($red-bright, "red-bright");
@include color-classes($green-bright, "green-bright");
@include color-classes($purple-dark, "purple-dark");
@include color-classes($blue-dark, "blue-dark");
@include color-classes($blue-royal, "blue-royal");
