// Forms
//
// Form base styles
//
// Markup:
// <form class="form">
//   <div class="form-group">
//     <lablel for="text-input">Label</label>
//     <input type="text" class="{$modifiers}" value="Text" id="text-input"/>
//   </div>
//   <button type="submit" class="btn">Submit</button>
// </form>
//
// :hover    - Highlight the text box when hovering
// :focus    - Similar to `:hover`, however it should demand more attention than when an input is simply hovered.
// :disabled - When disabled, the input's appearance should reflect as such.
//
// Styleguide 1.3

$form-bg: $display-bg;
form {
  background: $form-bg;
}

$forms-color: $display-accent;
input, input[type="password"], input[type="search"] {
  appearance: none;
  border: scut-em(1) $forms-color solid;
  padding: $padding-base;
  color: $forms-color;
  background-color: $form-bg;
}
