// Links
//
// Base link styles throughout the site.
//
// :hover - hover
// :focus - focus
// :disabled - disabled
// :visited - visited
// :active - active
// .disabled - disabled
// .active - active
//
// Markup: <a href="#" class="{$modifiers}">Link</a>
//
// Styleguide 1.4.0

a {
  color: $link-color;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: $link-color-hover;
  }
  &.disabled,
  &:disabled {
    color: $link-color-disabled;
    cursor: not-allowed;
    &:hover,
    &:focus
    &:active {
      color: $link-color-disabled;
    }
  }
  &:active,
  &.active {
    color: $link-color-active;
  }
  &:visited {
    color: $link-color-visited;
  }

}

// Link Green
//
// Link
%link-green {
  color: $display-accent;
  $link-green-alt: darken($display-accent, 10%);
  &:hover,
  &:focus,
  &.active,
  &:active,
  &:visited {
    color: $link-green-alt;
  }
}
.link-green {
  @extend %link-green;
}
