// Links
//
// Base link styles throughout the site.
//
// :hover - hover
// :focus - focus
// :disabled - disabled
// :visited - visited
// :active - active
// .disabled - disabled
// .active - active
//
// Markup: <a href="#" class="{$modifiers}">Link</a>
//
// Styleguide 1.4


a {
  color: $link-color;
  text-decoration: none;
  border-bottom: solid $link-color scut-em(1px);
  &:hover,
  &:focus {
    color: $link-color-hover;
    border-bottom-color: $link-color-hover;
  }
  &.disabled,
  &:disabled {
    color: $link-color-disabled;
    cursor: not-allowed;
    &:hover,
    &:focus
    &:active {
      color: $link-color-disabled;
    }
  }
  &:active,
  &.active {
    color: $link-color-active;
  }
  &:visited {
    color: $link-color-visited;
  }
}
