// Links
//
// Base link styles throughout the site.
//
// :hover - hover
// :focus - focus
// :disabled - disabled
// :visited - visited
// :active - active
// .disabled - disabled
// .active - active
// .link-green - display like a monitor
//
// Markup: <a href="#" class="{$modifiers}">Link</a>
//
// Styleguide 1.4


%link-green {
  color: $display-accent;
  border-bottom: scut-em(1) solid $display-accent;
  $link-green-alt: darken($display-accent, 10%);
  &:hover,
  &:focus,
  &.active,
  &:active,
  &:visited {
    color: $link-green-alt;
    border-color: $link-green-alt;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: solid $link-color scut-em(1px);
  &:hover,
  &:focus {
    color: $link-color-hover;
    border-bottom-color: $link-color-hover;
  }
  &.disabled,
  &:disabled {
    color: $link-color-disabled;
    cursor: not-allowed;
    &:hover,
    &:focus
    &:active {
      color: $link-color-disabled;
    }
  }
  &:active,
  &.active {
    color: $link-color-active;
  }
  &:visited {
    color: $link-color-visited;
  }
  &.link-green {
    @extend %link-green;
  }
  // Fixes buttons...
  &.btn {
    border-bottom-color: inherit;
  }
  &.btn--gray,
  &.btn--blue{
    border-color: transparent;
  }
}
